body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #0a0c0d;
}

header {
    background-color: #0a0c0d;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover  {
    color: white;
}

.titulo-destaque {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.titulo-destaque-dark {
    color: #f2f2f2;
}

.titulo-destaque-colorido {
    color: #000524;
}

.titulo-destaque-colorido-dark {
    color: #348e91;
}

.navbar-toggler{
    background-color: white;
}

#cabecalho .nav .nav-link.active {
    background-color: #1c31a5;
    color: #f2f2f2;
}

#sobre-o-studio {
    background-color: #f2f2f2;
}

#tipos {
    background-color: #010937;
}

.card {
    background-color: #0a0c0d;
    color: #f2f2f2;
}

.card:hover {
    padding: 3%;
    background-color: #f2f2f2;
    transition: 500ms;
    color: #0a0c0d;
}

