body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #0a0c0d;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-ensaio .nav-link.active:hover  {
    color: white;
}

.titulo-destaque {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.titulo-destaque-dark {
    color: #f2f2f2;
}

.titulo-destaque-colorido,
.nav-ensaio .nav-link:hover {
    color: #1c31a5;
}

.titulo-destaque-colorido-dark {
    color: #348e91;
}

.navbar-toggler{
    background-color: white;
}

#cabecalho .nav .nav-link.active,
.nav-ensaio .nav-link.active {
    background-color: #1c31a5;
    color: #f2f2f2;
}

#sobre-o-studio {
    background-color: #f2f2f2;
}

#tipos {
    background-color: #010937;
}

#tipos .card {
    background-color: #0a0c0d;
    color: #f2f2f2;
}

#tipos .card:hover {
    padding: 3%;
    background-color: #f2f2f2;
    transition: 500ms;
    color: #0a0c0d;
}


#ensaios .card {
    background-color: #213635;
    color: #f2f2f2;
    cursor: zoom-in;
    padding: 3%;
}
